.btn-success:hover{
    background-color:aqua;
}

canvas{
    animation-name: test;
    animation-duration: 4;
    animation-iteration-count: infinite;
}

@keyframes test{
from{box-shadow: 1px 1px 38px peachpuff}
to{box-shadow: 1px 1px 38px rebeccapurple;}
}